{% extends "flatpages/default.html" %}
{% block menu %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Домой</a></li>
    <li class="nav-item"><a class="nav-link" href="#!">Каталог</a></li>
    <li class="nav-item"><a class="nav-link" href="#!">О нас</a></li>
{% endblock menu %}

{% block header %}
{% include "flatpages/header.html" %}    
{% endblock header %}


{% block content %}
<h4>Предлагаеим товары мровых прозводителей...</h4>
<i>{{ flatpage.content }}</i>
{% endblock content %}